#main .cjwt{ width: 1200px; height: 47px; background-image: url(../images/tihuan/cjwt.jpg); margin: 0 auto; margin-top: 40px; }
#main div.common{ margin-top: 40px; width: 1200px; padding-left: 20px; text-align: left; margin: 0 auto; }
#main div.common ol{ margin-top: 40px; }
#main div.common ol li{ list-style-type: decimal; margin-bottom: 34px; font-size: 14px; line-height: 24px; color: #000; }
#main div.common ol li b{ font-weight: bold; }













