#main .area{ width: 978px; padding-bottom: 30px; text-align: left; background: #fff; font: 14px/24px ""; border: 1px solid #efefef; margin: 0 auto;}
#main .area h2{ text-align: left; font: 24px/30px "微软雅黑"; color: #333; margin: 10px 30px; }
#main .area .bgX{ height: 9px; background: url(../images/bgX.png) repeat-x 0 -189px; }
#main .area p.tit{ padding: 10px 30px; }
#main .area strong{ color: #cb3445; padding: 10px 30px; } 
#main .area p{ padding: 10px 60px; }










